.logo {
    font-family: $logo-font;
    font-size: 24px;
    line-height: 1.17px;
    letter-spacing: 0.03em;
    color: $logo-color;
    padding-top: 24px;
    padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
    .logo {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .logo {
        padding-top: 26px;
        padding-bottom: 26px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
        line-height: 1.19px;
    }
}

.logo__accent {
    font-family: $logo-font;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $accent-color;
}

@media screen and (min-width: 1200px) {
    .logo__accent {
        font-size: 26px;
        line-height: 1.19px;
    }
}

.logo:hover,
.logo:focus {
    color: $logo-color;
}