// body

.page {
    font-family: $main-font;
    background-color: $secondary-color;
    color: $main-color;
}

// Забираю точки в маркированому списку

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

// Забираю підкреслення текста в посиланях

.link {
    text-decoration: none;
}

// Скидаю стилі для h1,..,h6, p

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

// Контейнер

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    // outline: 1px solid red;
}